<h1>Available Programs</h1>

<h3>Program information and Application</h3>
<p></p>

<p>Program Name : <%=@program.program_name%></p>
<p>Program Description: <%=@program.description%></p>
<p>Program University: <%=@program.school.name%></p>
<p>Program State: <%=@program.school.state%></p>
<p>Program City: <%=@program.school.city%></p>


<p><%=link_to "back to programs list", "/programs" %></p>