<h1>Edit Admissions Director *****Restricted Access******</h1>

<p></p>
<!-- Errors -->
<% if @adcom.errors.any?%>
<ul>    
<% @adcom.errors.full_messages.each do |msg| %>
    <li><%=msg %></li>
 <%end%>
</ul>
<%end%> 

<%if @adcom.user_id == current_user.id%>
<!-- #posting form using standard post instead of remotely using ajax since using form with -->
<%= form_with(model: @adcom, local: true)  do |f| %>
  <p>
    <%= f.label :First_name%><br/>
    <%= f.text_field :first_name%>
</p>
<p>
    <%= f.label :Last_name%><br/>
    <%= f.text_field :last_name%>
</p>

<p>
    <%= f.label :School%><br/>
    <%= f.collection_select :school_id, @schools, :id, :name, include_blank: false %>

</p>


<p>
    
    <%=submit_tag "Edit Admissions Director" %>
</p>
<p><%= link_to "Cancel and return to Adcoms", "/adcoms"%></p>
<%end%>
<%else%>
<h2>*************Access Denied*************</h2>
If you believe this is  an error, please contact your  administrator.
<p></p>
<%= link_to "Return to Admin profile", "/adcoms/#{@adcom.id}"%>
<%end%>