<h2>Details for <%=@school.name%></h2>

School Name: <p><%=@school.name%></p>
School City: <p><%=@school.city%></p>
School State: <p><%=@school.state%></p>

Programs offered at this school:
<%@programs.each do |program|%>
<p><%=program.program_name%> <%= link_to "View & Apply to program", "/programs/#{program.id}"%></p>
<%end%>

<p><%=link_to "back to schools list", "/schools" %></p>